affine==3.0.1
attrs==26.1.0
beautifulsoup4==4.15.0
cattrs==26.2.1
certifi==2026.7.22
cffi==2.1.1
cfgrib==0.9.15.1
cftime==1.6.6
charset-normalizer==3.5.2
click==8.5.0
cloudpickle==3.1.2
cryptography==50.0.2
dask==2026.8.0
earthengine-api==1.7.46
eccodes==2.49.0
eccodeslib==2.49.0.30
eckitlib==2.3.0.30
findlibs==0.1.3
fsspec==2026.9.0
google-api-core==2.40.0
google-api-python-client==2.201.0
google-auth==2.59.1
google-auth-httplib2==0.4.4
google-cloud-core==2.8.0
google-cloud-storage==3.16.0
google-crc32c==1.9.0
google-resumable-media==2.11.0
googleapis-common-protos==1.75.5
httplib2==0.32.0
idna==3.20
Jinja2==3.1.6
legacy-cgi==2.6.4
locket==1.0.0
lxml==6.1.3
MarkupSafe==3.0.4
netCDF4==1.7.4
numpy==2.5.3
opentelemetry-api==1.45.0
packaging==26.3
pandas==3.0.6
partd==1.4.2
platformdirs==4.12.2
proto-plus==1.29.0
protobuf==7.36.2
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydap==3.5.11
pyparsing==3.3.3
pyproj==3.8.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rasterio==1.5.2
requests==2.34.2
requests-cache==1.3.3
rioxarray==0.23.0
scipy==1.18.1
six==1.17.0
soupsieve==2.10
toolz==1.1.0
typing_extensions==4.16.0
uritemplate==4.2.0
url-normalize==3.0.1
urllib3==2.8.0
WebOb==1.8.11
xarray==2026.9.0
